:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    /* text-decoration: none; */
    color: white;
}

/* Navigation Section */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #242424;
    color: white;
    background-color: rgba(6, 6, 179, 0.671);
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-bar li {
    padding: 0 1rem;
}
